.layout__region--second h2,
.layout__region--second .view-header a,
.layout__region--second h1 {
	padding: 1px 15px;
}
.usa-button {
	display: inline-block !important;
}
.views-field.views-field-title {
	width: 200px;
}
.views-field-field-tv-sequence img {
  max-width: 300px;
}
.region.region-content a {
	text-decoration: none;
}
.region.region-content a:hover {
	text-decoration: underline;
}
.view-header a {
	padding: 1px 15px;
	margin-top: 15px;
	margin-bottom: 10px;
	display: block;
}
.block.block-views.block-views-blockapltv-channel-block-2 {
	margin-bottom: 20px;
}
.apl-invisible {
	display: none;
	opacity: 0;
}
.usa-button {
	padding: 10px !important;
	margin-left: 15px;
}
