body #ed11y-panel {
	z-index: 1000 !important;
	position: fixed !important;
	bottom: 16px !important;
	right: 230px !important;
	text-align: left !important;
	transform-origin: 100% 100% !important;
	border-radius: 4px 4px 8px 4px !important;
	transition: opacity .2s !important;
	max-width: calc(100vw - 28px) !important;
	background: #fff !important;
}