.view-id-location_info {
	margin-bottom: 20px;
}
.block.block-layout-builder.block-field-blocknodebookstore-pagetitle,
.block.block-layout-builder.block-field-blocknodebookstore-pagebody {
	padding: 1px 15px;
}
.views-field.views-field-field-open-hours__ {
	margin-top: 20px;
}